body{
	background-color: #A0A0A0 ;
	width: 85%;
	margin: auto;
}


.divIndex{
	background-color: #A0A0A0 ;
	width: 35%;
	float: left;
	margin-left: 10%;
	margin-top: 3%;
	font-size: 17px;
}

.taIndex{
	background-color: #A0A0A0 ;
	resize: none; 
	height: 150px;
	width: 90%;
}